body{
    font-family: sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1d1212;
}

.message{
    width: 235px;
    animation: digitando 3s steps(25), blink .4s infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
}

@keyframes digitando{
    from{
        width: 0;
    }
}

@keyframes blink{
    40%{
        border-color: rgba(255, 255, 255, 0.2);
    }
}
